/* default styling */
.default * {
    color: #757575;
    font-size: small;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.default a {
    text-decoration: none;
}

.default a:hover {
    text-decoration: underline;
}

.default ul,
.default li {
    display: inline;
    list-style: none;
}

.list-container * {
    vertical-align: middle;
}

/* nav */
.nav-container .list-container ul {
    padding: 16px;
    position: absolute;
    right: 6px;
}

.nav-container .list-container li {
    padding: 8px;
}

.user_pic {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

/* main-content */
.main-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 39%;
    transform: translate(-50%, -50%);
}

.input-container * {
    color: black;
    font-size: 16px;
    margin: 30px;
    outline: none;
    padding: 0px 10px;
}

input {
    background: url('assets/microphone.png') no-repeat right center;
    background-size: 30px 25px;
    border: 1px solid #E4E4E4;
    height: 40px;
    width: 570px;
}

input:hover {
    border: 1px solid #A0A0A0;
}

input:focus {
    border: 1px solid #4D90FE;
}

.btn-container * {
    background: #F4F4F4;
    border-radius: 2px;
    border-style: none;
    font-weight: bold;
    height: 35px;
    margin: 0 2px;
    width: 135px;
}

.btn-container button:hover {
    border: 1px solid #C6C6C6;
    box-shadow: 0px 1px 1px #F1F1F1;
    color: black;
    outline: none;
}

/* footer */
.footer-container {
    background: #F2F2F2;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.footer-container .list-container ul,
.footer-container .list-container li {
    padding: 14px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/* helper classes */